/* Generics */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utilities */

body {
    background-color: lightgrey;
}



/* header */

header {
    background-color: white;
    padding: 10px 20px;
}



.logo-header {
    width: 80px;
    vertical-align: middle;
}

.titolo {
    display: inline;
    vertical-align: middle;
    font-size: 2.5em;
    font-weight: 900;
    font-family: sans-serif;
}