/* Generics */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* Utilities */


body {
    background-color: lightgrey;
    font-family: sans-serif;
}

.container {
    max-width: 1080px;
    margin: 40px auto;
    background-color: white;
    padding-bottom: 1px;
}

ul {
    list-style-type: none;
}


/* header */


header {
    background-color: white;
    padding: 10px 20px;
}

.logo-header {
    width: 80px;
    vertical-align: middle;
}

.titolo {
    display: inline;
    vertical-align: middle;
    font-size: 2.5em;
    font-weight: 900;
    font-family: sans-serif;
}


/* Main section */

/* add-things section */


.add-things {
    padding: 15px 30px;
    border-bottom: 2px solid lightgrey;
}

button {
    border: none;
    border-radius: 8px;
    padding: 10px 25px;
    margin-right: 10px;
    text-align: center;
}

#task {
    background-color: rgb(10, 150, 150);
    color: white;
}


/* sections */


.new-task,
.today,
.upcoming {
    margin: 40px 30px;
}

.type-of-section {
    margin-bottom: 20px;
}

li {
    font-weight: 600;
    margin: 15px 0;
}

.upcoming {
    margin-bottom: 0;
}


/* Marker (cross & check) */


.marker {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
    text-align: center;
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}

.check {
    border-color: lightgreen;
    color: lightgreen;  
}
.cross {
    border-color: red;
    color: red;
}


/* Flags */


.flag {
    border: none;
    border-radius: 13px;
    padding: 5px 10px;
    margin-left: 10px;
    text-align: center;
    color: white;
    font-size: 15px;


}


/* Varius background color of Flags */


.editorial {
    background-color: lightskyblue;
}

.q-1 {
    background-color: purple;
}

.recruiting {
    background-color: aquamarine;
}

.mobile {
    background-color: orange;
}

.sales {
    background-color: yellowgreen;
}

.website {
    background-color: blueviolet;
}










